/* UNIVERSAL STYLES */
body {
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
	color: #222;
	font-size: .85rem;
	line-height: 1.4;
}
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2rem;
	font-weight: 700;
	margin: 1.333rem 0;
}
h3 {
	font-size: 1.5rem;
	margin-bottom: .5rem;
}
h4 {
	font-weight: 700;
	font-size: 1rem;
	margin-top: 1.778rem;
}
a, a:visited {
	color: #222;
	text-decoration: none;
}
a:hover, a:active {
	letter-spacing: 3px;
	font-size: 1.1rem;
	text-decoration: underline;
	transition: all 1s ease-out;
}
.flex {
	display: flex;
	align-items: center;
}
section, footer {
	top: 55px;
	position: relative;
	align-items: center;
}
.left {
	width: 60%;
}
.right {
	width: 40%
}
/* HEADER */
header {
	display: flex;
	align-items: center;
	position: fixed;
	height: 64px;
	background: #90EE90;
	z-index: 1;
	width: 100%;
	top: 0px;
}
.logo {
	align-items: center;
	font-family: 'Mitr', sans-serif;
	flex-basis: 50%;
	padding-left: 1.333rem;
	text-transform: uppercase;
}
.logo img {
	height: 3rem;
}
.colmar {
	font-weight: 700;
	font-size: 1.3rem;
}
.academy {
	font-size: 1.3rem;
	font-weight: 300;
}
nav {
	font-size: 1rem;
	padding-right: 1.333rem;
	flex-basis: 50%;
}
nav ul {
	justify-content: flex-end;
}
nav ul li {
	padding: 0 0.4444rem;
}
/* BANNER */
.banner, .learning-container {
	background: #D3D3D3;
	color: #222;
}
.banner .right .content {
	margin-right: 25%;
}
.banner .right .content p {
	font-size: 1.5rem;
	margin: 1.333rem 0;
	font-weight: 400;
}
.image-container {
	padding: 1.778rem 2.222rem 1.778rem 1.333rem;
}
.image-container img {
	max-width: 100%;
}
.buttons {
	width: 90%;
	background: #90EE90;
	color: #222;
	border: none;
	padding: .8rem;
	font-family: "Merriweather";
	font-size: 1.1rem;
	font-weight: 300;
	margin: 1.333rem .11rem;
}
.buttons:hover {
	transition: all 0.2s ease-out;
	box-shadow: 0 0.5em 0.5em -0.4em ;
	transform: translateY(-0.25em);
}
/* INFORMATION */
.info {
	padding: 0.65rem 0;
}
.info:hover {
	background: #90EE90;
	color: #222;
	box-shadow: 0 0.5em 0.5em -0.4em ;
	transform: translateY(-0.25em);
}
.information .left {
	border-right: 1px solid #D3D3D3;
}
.info-image img {
	padding: 0.8889rem;
	width: 80%;
	border-radius: 50%;
}
.info-content {
	width: 90%;
	margin-right: 5%;
}
.info-content p {
	margin-bottom: 1rem;
}
.image-container .quote {
	font-weight: 400;
	font-size: .8rem;
	margin-top: 1.778rem;
}
/* LEARNING */
.learning {
	width: 1200px;
	margin: 0 auto;
}
.learning, .learning .flex {
	justify-content: center;
	padding: 1.778rem 0;
	flex-wrap: wrap;
}
.learning h2, .thesis h2 {
	text-align: center;
}
.course img {
	height: 150px;
	max-width: 100%;
}
.course {
	margin: 0.8889rem;
	background: #FFF;
	width: 290px;
	height: 340px;
}
.course:hover {
	box-shadow: 0 0.5em 0.5em -0.4em ;
	transform: translateY(-0.25em);
}
.courses {
	color: #222;
}
.courses div:hover {
	color: #222;
	background: #90ee90;
}
.course-content {
	padding-left: 0.8889rem;
}
.course-content p {
	margin: 0.4444rem 0;
}
.courses a:hover {
	color: #333;
}
/* THESIS */
.exhibit {
	border: none;
}
.thesis {
	margin-bottom: 1.778rem;
}
.thesis .right {
	margin-top: -175px;
}
.thesis .left {
	padding: 1.778rem 2.222rem 1.778rem 1.333rem;
}
.exhibit {
	padding: .65rem 0;
}
.exhibit:hover {
	background: #90EE90;
	color: #222;
	box-shadow: 0 0.5em 0.5em -0.4em ;
	transform: translateY(-0.25em);
}
.exhibit-image img {
	padding: 0.8889rem;
	width: 80%;
	border-radius: 50%;
}
.exhibit-content {
	width: 90%;
	margin-right: 5%;
}
.exhibit-content p {
	margin-bottom: 1rem;
}
.exhibit:last-child {
	border: none;
}
.left .exhibit-container p {
	margin-right: 20%;
}
video {
	max-width: 100%;
	margin-bottom: 1.333rem;
}
.left .video-container p {
	margin-right: 15%;
}
/* FOOTER */
footer {
	border-top: 1px solid #D3D3D3;
	padding: 0 1.333rem;
	height: 64px;
}
.copyright, .privacy {
	width: 50%;
}
footer ul {
	justify-content: flex-end;
}
footer ul li {
	padding: 0 16px;
}
/* MEDIA */
@media only screen and (max-width: 1280px) {
	.learning {
		width: 980px;
	}
}
@media only screen and (min-width: 760px) {
	.info-image-mobile, .mobile-nav, .learning-mobile {
		display: none;
	}
}
@media only screen and (max-width: 760px) {
	h1 {
		font-size: 2.5rem;
	}
	.logo, .desktop-nav {
		display: none;
	}
	.mobile-nav {
		flex-basis: 100%;
		align-items: center;
	}
	.mobile-nav ul {
		justify-content: center;
	}
	.mobile-nav ul li img {
		margin: 0 1.6rem;
	}
	.banner {
		flex-direction: column;
		width: 100%;
	}
	.banner .left {
		width: 100%;
	}
	.banner .right {
		width: 100%;
	}
	.banner .right .content {
		margin: 32px 16px;
	}
	.banner .right .content p {
		font-size: 1.5rem;
	}
	.banner .image-container {
		padding: 0;
	}
	.buttons {
		margin: 0;
		width: 100%;
	}
	.information .left {
		display: none;
	}
	.information .right {
		width: 100%;
	}
	.information .right .info {
		width: 100%;
		flex-direction: column;
		border: none;
	}
	.information .image-container {
		padding: 0;
	}
	.info .info-content {
		margin-left: 3.556rem;
	}
	.info-image {
		display: none;
	}
	.information {
		width: 100%;
	}
	.info-image-mobile img {
		padding: 0.8889rem;
		max-width: 91.8%;
		margin: 0 auto;
	}
	.learning {
		display: none;
	}
	.learning-mobile {
		padding: 0.8889rem;
		background: #FFF;
		color: #333;
	}
	.learning-mobile ul li a {
		color: #FFF;
	}
	.learning-mobile ul li a:hover {
		color: #90EE90;
	}
	.learning-mobile h2 {
		text-align: center;
	}
	.learning-mobile ul li {
		background: #333;
		padding: 16px;
		margin: 8px;
	}
	.thesis {
		background: #FFF;
	}
	.thesis .right, .video-container p, .video-container h3 {
		display: none;
	}
	.thesis .left {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.copyright {
		width: 100%;
	}
	.privacy {
		display: none;
	}
	footer {
		border: none;
		font-size: .8em;
		text-align: center;
	}
	section, footer {
		margin: 0;
		padding: 0;
	}
}
